<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{base-privado :: layout(~{::section})}">

<section class="campeonatos-page">

    <div class="card-container">

        <!-- TOPO -->
        <div class="topo-lista">
            <div>
                <h2>🏆 Campeonatos</h2>
                <p class="subtitulo">Gerencie todos os campeonatos cadastrados</p>
            </div>

            <a th:href="@{/campeonatos/novo}" class="btn-novo">
                + Novo Campeonato
            </a>
        </div>

        <!-- GRID -->
        <div class="grid-campeonatos">

            <div th:each="camp : ${campeonatos}" class="card-campeonato">

                <div class="card-topo">
                    <h3 th:text="${camp.nome}">Nome</h3>

                    <div class="acoes-campeonato"
                         th:if="${usuarioLogado != null and usuarioLogado == camp.organizador.email}">

                        <a th:href="@{/campeonatos/editar/{id}(id=${camp.id})}"
                           class="btn-acao btn-editar">
                            Editar
                        </a>
                        <a th:href="@{/campeonatos/{id}(id=${camp.id})}"
                           class="btn-acao btn-editar">
                            Acessar
                        </a>

                        <form th:action="@{/campeonatos/desativar/{id}(id=${camp.id})}"
                              method="post"
                              style="display:inline;">
                            <button type="submit" class="btn-acao btn-excluir">
                                Desativar
                            </button>
                        </form>

                    </div>
                </div>

                <div class="info">
                    <p>
                        <strong>Formato:</strong>
                        <span th:text="${camp.formato}"></span>
                    </p>

                    <p>
                        <span th:text="${#temporals.format(camp.dataInicio, 'dd/MM/yyyy')}"></span>
                        até
                        <span th:text="${#temporals.format(camp.dataFim, 'dd/MM/yyyy')}"></span>
                    </p>
                </div>

                <span class="status"
                      th:text="${camp.ativo} ? 'Ativo' : 'Inativo'"
                      th:classappend="${camp.ativo} ? ' status-ativo' : ' status-inativo'">
                </span>

            </div>

        </div>

    </div>

</section>
</html>

