.container-form {
    width: 500px;
    margin: 40px auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
}

.campo {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.campo input,
.campo select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.botoes {
    display: flex;
    gap: 10px;
}

.btn-padrao {
    padding: 10px 18px;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    text-align: center;
}

.btn-salvar {
    background: #ff6a00;
    color: white;
}

.btn-voltar {
    background:  #ff6a00;
    color: white;
}

