<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{base-privado :: layout(~{::section})}">

<section class="rodadas-page">

    <div class="card-container">

        <div class="topo-lista">
            <div>
                <h2>Rodadas do Campeonato</h2>
                <p class="subtitulo">Visualização das partidas organizadas por rodada</p>
            </div>

            <a th:href="@{/campeonatos/{id}(id=${campeonatoId})}"
               class="btn-novo">
                ← Voltar
            </a>
        </div>

        <div th:each="rodada : ${rodadas}" class="rodada-card">

            <h3>
                Rodada <span th:text="${rodada.numeroRodada}"></span>
            </h3>

            <table class="tabela-partidas">
                <thead>
                <tr>
                    <th>Mandante</th>
                    <th></th>
                    <th>Visitante</th>
                </tr>
                </thead>

                <tbody>
                <tr th:each="partida : ${rodada.partidas}">
                    <td th:text="${partida.mandante}"></td>
                    <td>x</td>
                    <td th:text="${partida.visitante}"></td>
                </tr>
                </tbody>
            </table>

        </div>

    </div>

</section>
</html>