<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{base-publico :: layout(~{::section})}">

<section class="hero">

    <div class="hero-text">
        <span class="tag">BoraVôlei</span>

        <h1>
            Gestão de Campeonatos<br>
            <span class="highlight">Esportivos</span>
        </h1>

        <p>
            Centralize o gerenciamento de campeonatos, equipes,
            partidas e classificação em uma plataforma simples
        </p>

        <div class="hero-actions">
            <a th:href="@{/campeonatos/novo}" class="btn-primary">
                Criar Campeonato
            </a>
        </div>
    </div>

    <div class="hero-image">
        <img th:src="@{/img/home.png}" alt="Atleta de vôlei">
    </div>

</section>

    <!-- FUNCIONALIDADES -->
    <section class="section-alt">
        <h2 class="section-title">Funcionalidades</h2>

        <div class="cards">
            <div class="card">
                <h3>🏆 Campeonatos</h3>
                <p>Organize campeonatos completos com regras e classificações.</p>
            </div>

            <div class="card">
                <h3>👥 Equipes</h3>
                <p>Cadastre equipes e jogadores.</p>
            </div>

            <div class="card">
                <h3>🏐 Partidas</h3>
                <p>Registre partidas, acesse a classificação.</p>
            </div>
        </div>
    </section>
    <!-- ========================= -->
    <!-- FALE CONOSCO -->
    <!-- ========================= -->
<section id="fale-conosco" class="contato-section">

        <div class="contato-container">

            <!-- LADO ESQUERDO -->
            <div class="contato-info">

            <span class="contato-subtitulo">
                Está com dúvidas?
            </span>

                <h2>
                    Fale com nossa equipe!
                </h2>

                    <div class="contato-outros">
                        <span>boravolei@gmail.com</span>
                        //<span class="icone">✉️</span>
                    </div>

                </div>

            </div>

            <!-- LADO DIREITO -->

        </div>

    </section>
</section>
</html>



