<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{base-privado :: layout(~{::section})}">

<section class="partidas-page">

    <div class="card-container">

        <div class="topo-lista">
            <div>
                <h2>Partidas</h2>
                <p class="subtitulo">Partidas do campeonato</p>
            </div>

            <!-- BOTÕES DIREITA -->
            <div class="acoes-topo">

                <!-- BOTÃO VOLTAR -->
                <a th:href="@{/campeonatos/{id}(id=${campeonatoId})}"
                   class="btn-nova-equipe">
                    ← Voltar
                </a>

            </div>
        </div>

        <!-- TABELA -->
        <table class="tabela-partidas">

            <thead>
            <tr>
                <th>Data</th>
                <th>Mandante</th>
                <th>Visitante</th>
                <th>Resultado</th>
                <th>Status</th>
                <th class="acoes-tabela">Ação</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="p : ${partidas}">

                <td th:text="${#temporals.format(p.dataHora,'dd/MM/yyyy HH:mm')}"></td>

                <td th:text="${p.equipeMandante.nome}"></td>

                <td th:text="${p.equipeVisitante.nome}"></td>

                <td>
                    <span th:if="${p.finalizada}"
                          th:text="${p.resultadoFinal}">
                    </span>

                    <span th:if="${!p.finalizada}">
                        Em andamento
                    </span>
                </td>

                <td>
                    <span class="status"
                          th:text="${p.finalizada} ? 'Finalizada' : 'Em andamento'"
                          th:classappend="${p.finalizada} ? ' status-ativo' : ' status-inativo'">
                    </span>
                </td>

                <td class="acoes-tabela">
                    <a th:href="@{/partidas/{id}(id=${p.id})}"
                       class="btn-acao btn-editar">
                        Insira os sets aqui
                    </a>
                </td>

            </tr>
            </tbody>

        </table>

    </div>

</section>
</html>
