<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{base-privado :: layout(~{::section})}">

<section class="form-container">

    <div class="form-card">

        <div class="form-header">
            <div>
                <h2 th:text="${jogador.id != null} ?
                    'Editar Jogador' : 'Cadastrar Jogador'">
                </h2>
                <p class="subtitulo">Informe os dados do jogador</p>
            </div>

            <a th:href="@{/jogadores/equipe/{id}(id=${jogador.equipe.id})}"
               class="btn-voltar">
                ← Voltar
            </a>
        </div>

        <form th:action="@{/jogadores}" method="post" th:object="${jogador}">

            <input type="hidden" th:field="*{id}">

            <div class="campo">
                <label>Nome</label>
                <input type="text" th:field="*{nome}" required>
            </div>

            <div class="campo">
                <label>Número</label>
                <input type="number" th:field="*{numeroCamisa}" required>
            </div>

            <div class="campo">
                <label>Posição</label>
                <input type="text" th:field="*{posicao}" required>
            </div>

            <div class="campo">
                <label>Equipe</label>
                <select th:field="*{equipe.id}" required>
                    <option value="">Selecione</option>
                    <option th:each="e : ${equipes}"
                            th:value="${e.id}"
                            th:text="${e.nome}">
                    </option>
                </select>
            </div>

            <div class="botoes">
                <button type="submit" class="btn-padrao btn-salvar">
                    Salvar
                </button>

                <a th:href="@{/jogadores/equipe/{id}(id=${jogador.equipe.id})}"
                   class="btn-padrao btn-voltar">
                    Voltar
                </a>
            </div>
        </form>

    </div>

</section>
</html>

